<web-app>
<servlet>
<servlet-name>UserRegServlet</servlet-name>
<servlet-class>UserRegServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserRegServlet</servlet-name>
<url-pattern>/UserRegServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RestroRegServlet</servlet-name>
<servlet-class>RestroRegServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RestroRegServlet</servlet-name>
<url-pattern>/RestroRegServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
</web-app>